@use "../abstracts/variables" as *;

.back-link {
  display: inline-flex;
  margin-bottom: 1rem;
  color: $primary;
  font-weight: 800;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
